
body{
    height: 100vh;
    font-family: 'Nanum Gothic', sans-serif;
}

.container{
    margin-left: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    justify-content: left;
    align-content: center;
    height: 60px;
    padding-left: 30px;
    text-align: center;
}

.container .logo{
    flex-basis: 15%;
    height: 100%;
    width: 100%;
    background-image: url(./images/웹툰로고.png);
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateY(10px);
    overflow: hidden;
}
.container .searchbar{
    flex-basis: 60%;
    height: 100%;
    width: 100%;
}

.container .searchbar .search-txt{
    width: 70%;
    height: 30px;
    margin-top: 20px;
    border: 5px solid #55a655;
    outline: none;
    padding-left: 15px;
}

.container .searchbar .search-btn{
    background-color: #55a655;
    height: 40px;
    width: 80px;
    color: white;
    border: none;
}
.container .menu{
    flex-basis: 20%;
    height: 100%;
    width: 100%;
    background-color: white;
}

.navbar1 {
    margin:0 auto;
    padding-left: 30px;
    display: flex;
    justify-content: left;
    align-items: baseline;
    margin-top: 30px;
    width: 80%;
    height: 40px;
    background-color: #313131;
    color: white;
    line-height: 2;
    border: 1px solid #313131;
}
.navbar1 .index{
    width: 80px;
    height: 60%;
    margin-right: 10px;
    border-radius: 3px;
    font-size: 80%;
    text-align: center;
    margin-right: 10px;
}

.navbar1 .index:hover{
    background-color: #121212;
    color: #ffdd00;
}
span{
    width: 20px;
    margin: 0;
    padding: 0;
    margin-right: 15px;
    color: #868686;
}

.navbar2 {
    margin: 0 auto;
    margin-bottom: 50px;
    padding-left: 30px;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 80%;
    height: 40px;
    background-color: hwb(0 95% 5%);
    border: 1px solid hsl(0, 0%, 82%);
}
.navbar2 .index-2{
    padding-right: 10px;
    width: 80px;
    height: 60%;
    margin-right: 10px;
    border-radius: 3px;
    font-size: 80%;
    text-align: center;
    line-height: 1.5;
}
.navbar2 .index-2:hover{
    font-size: 105%;
    font-weight: bold;
}

.navbar3 {
    margin-left: 9%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 10px;
    width: 40%;
    height: 30px;
    background-color: hwb(0 95% 5%);
    line-height: 1.5;
}

.navbar3 .index{
    width: 80px;
    height: 100%;
    font-size: 70%;
    text-align: center;
    line-height: 2.5;
    border: 1px solid hsl(0, 0%, 82%);
}
.navbar3 .index:hover{
    font-weight: bolder;
    background-color: #313131;
    color: #ffdd00;
    border: 1px solid #313131;
}
.bar {
    margin: 0.5px auto;
    width: 82%;
    height: 1xp;
    border: 1px solid #313131;
    background-color: #313131;
}

main > h2{
    margin-left: 120px;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 30px;
    font-weight: 700;
    font-size: 120%;
}

main > section {
    display: flex;
    flex-direction: row;
    margin: 20px;
    margin-top: 0;
    padding-bottom: 80px;
    padding-top: 5px;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 70%;
}

main > section .new-webtoon{
    width: 250px;

}
main > section .new-webtoon .image{
    margin-top: 0px;
    padding-top: 0px;
    width: 250px;
    height: 190px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 250px;
}
main > section .new-webtoon:nth-child(1) .image{ background-image: url(./images/웹툰신작1.png);}
main > section .new-webtoon:nth-child(2) .image{ background-image: url(./images/웹툰신작1.png);}
main > section .new-webtoon:nth-child(3) .image{ background-image: url(./images/웹툰신작1.png);}



main > section .new-webtoon > h3{
    font-weight: 700;
}
main > section .new-webtoon > h4{
    margin-top: 5px;
    font-size: 80%;
    font-weight: 600;
    color: #868686;
}
.bar2 {
    width: 1150px;
    margin: 0 auto;
    height: 1px;
    border: 1px solid #868686;
    background-color: #868686;
    margin-bottom: 20px;
}

main .sec2{
    padding-top: 40px;
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    justify-content: center;
    align-content: center;
    height: 60px;
    text-align: center;
    margin: 0 auto;
}
main .sec2 .day1{
    width: 170px;
    height: fit-content;
    color: #313131;
    font-weight: bolder;
    border: 1px solid #868686;
    display: flex;
    flex-flow: column wrap;
    justify-content:baseline;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 10px;
    margin: 0xp;
}
main .sec2 .day1:hover{
    background-color: hsl(0, 0%, 19%);
    color: #ffdd00;
    
}
main .sec2 .day1:hover .title{
    color: #ffdd00;
    font-size: 90%;
    font-weight: 600;
}
.webtoon{
    margin-top: 20px;
    width: 140px;
    height: 150px;
    margin: 10px;
}

img{
    width: 130px;
    height: 140px;
    border: 2px solid #313131;
}
/* main .sec2 .webtoon:nth-child(3){ background-image: url(./images/웹툰1.png);} */

.day{
    border: 1.5px solid #868686;
}

main .sec2 .day1 .title{
    color: #313131;
    font-size: 90%;
    font-weight: 600;
}

main .checkbox{

}